# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# Figs
*.fig
*.mat
*.jpg

# --Folders to be ignored
Array Procedures and Code
Depreciated
External Documentation
Results Media
Test Data
CAD Models
.tmp.driveupload/

# --Code to be ignored
IRES Acoustics Control Pannel.mlappinstall.zip
Array Acoustics Folder Guide.png

